<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--부트스트랩 아이콘-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css}" rel="stylesheet">
    <!--부트스트랩 css-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>
<!--    css,script-->
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div th:fragment="footer" th:class="footer">
    <footer id="footer" class="footer">

        <div class="container" >
            <div class="row gy-3" style="margin-top: 10px">
                <div>
                    <div class="address" style="display: flex">
                        <i class="bi bi-geo-alt icon"></i><h4> Address</h4>
                        <p style="margin-left: 20px;margin-top: 10px">20, Gangnam-daero 94-gil, Gangnam-gu, Seoul, Republic of Korea, 06134</p>
                    </div>

                </div>

                <div>
                    <div style="display: flex">
                        <i class="bi bi-telephone icon"></i><h4>Contact</h4>
                        <p style="margin-left: 20px;margin-top: 10px">Phone&nbsp;&nbsp;82+ 10-6201-9928&nbsp;&nbsp;/&nbsp;&nbsp;Email &nbsp;&nbsp;kumupa6998@naver.com</p>
                <div style="margin-left: 200px; margin-top: -50px">
                    <h4>Git Hub</h4>
                    <div style="display: flex;color: white">
                        <a style="float: right;color: white" href="https://github.com/gawonson" target="_blank">Gawon Son&nbsp;&nbsp;</a>
                        <a style="float: right;color: white" href="https://github.com/gratisreise" target="_blank">Jungho Kim&nbsp;&nbsp;</a>
                        <a style="float: right;color: white" href="https://github.com/BMPDevOps?tab=repositories" target="_blank">Bomin Park&nbsp;&nbsp;</a>
                        <a style="float: right;color: white" href="https://github.com/HanKyungPark" target="_blank">Hankyung Park&nbsp;&nbsp;</a>
                        <a style="float: right;color: white" href="https://github.com/wancheol555" target="_blank">Wancheol Shin</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="container copyright text-center mt-4">
            <br><p>© <span>Copyright</span> <strong class="px-1 sitename">DevLog</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
            </div>
        </div>

    </footer>
</div>

</body>
<!--부트스트랩-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--제이쿼리-->
<script th:src="@{https://code.jquery.com/jquery-3.7.1.js}"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<!--태일윈즈-->
<script th:src="@{https://cdn.tailwindcss.com}"></script>
</html>