<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--부트스트랩 아이콘-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css}" rel="stylesheet">
    <!--부트스트랩 css-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>
<!--    css, script-->
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:fragment="header" class="header" >
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div style="width: 100%; text-align: center">
        <div onclick="location.href='/home'" style="cursor:pointer;"><br><img src="https://minio.bmops.kro.kr/devlog/logo/TitleLog.png" style="width: 100px; height: 50px;margin: 0 auto 10px auto" href="/home"/></div>
        </div>
        <a href="/home"><h2 class="sitename" style="margin-left: 100px">DevLog</h2></a>
            <div class="container position-relative d-flex align-items-center justify-content-between">

            <a href="/home" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->

            </a>
            <div style="width: 100%; text-align: center">
            <nav id="navmenu" class="navmenu"  >
                <th:block sec:authorize="isAnonymous()">
                    <ul style="float: right"><a href="/"><b style="font-size: 15px">로그인</b></a>
                    </ul>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                <ul class="dropdown" style="float: right;"><a style="font-size: 17px"><img style="width: 30px;height: 30px;border-radius: 30px" th:src="${#authentication.principal.KaKaoResponse.file}">&nbsp;<span th:text="${#authentication.principal.KaKaoResponse.name}"></span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a id="myBlog">My Blog</a></li>
                        <li><a href="/mypage">My Page</a></li>
                        <li><button class="btnLogout" style="float: left;"><br><b><a href="/logout">Logout</a></b></button></li>
                    </ul>
                </ul>
                <ul style="text-align: center; margin-left: 300px">
                    <li><a href="/home" style="font-size: 20px">Home<br></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="/feed" style="font-size: 20px">Feed</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="/contents" style="font-size: 20px">My Blog</a></li>
                </ul>
                </th:block>
            </nav>
            </div>


        </div>
    </header>

</div>
</body>
<!--부트스트랩-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!--태일윈즈-->
<script th:src="@{https://cdn.tailwindcss.com}"></script>
<script th:src="@{/js/header.js}"></script>
</html>