.table-container {
    display: flex;
    width: 80%;
    /*margin-right: 10%;*/
    /*margin-left: 10%;*/
}
/*.table-row {*/
/*    display: table-row;*/
/*}*/
.table-cell {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid #ddd;
    text-align: right;
    /*vertical-align: top;*/
    height: 150px;

}
a{
    color: #4a90e2;
}
#content{
    width: 550px;
    float: left;
    margin-right: 300px;
    margin-left: 20%;

}
#cell{
    display: flex;
    width: 100%;
    justify-content: space-between;
    vertical-align: center;
    text-align: center;
}
.table-cell img {
    display: flex;
    justify-content: space-between;
    /*margin-left: 30px;*/
    width: 150px;
    height: 150px;
    align-items: center;
}
#dataContainer{
    margin-left: 15%;
    margin-right:15% ;
    text-align: center;
}