.table-container {
    display: table;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: top;
    width: 150px;

}
.table-cell img {
    margin-left: 18px;
    width: 100px;
    height: 100px;
    align-items: center;
}
#dataContainer{
    margin-left: 20%;
    margin-right:20% ;
    text-align: center;
}