.table-container {
    display: table;
    width: 80%;
    /*margin-right: 10%;*/
    /*margin-left: 10%;*/
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 10px;
    /*border: 1px solid #ddd;*/
    text-align: center;
    vertical-align: top;
    width: 350px;
    height: 400px;

}
.table-cell img {
    margin-left: 18px;
    width: 400px;
    height: 300px;
    align-items: center;
}
#dataContainer{
    margin-left: 8%;
    margin-right:8% ;
    text-align: center;
}