/* 기본 스타일 */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headermenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.headermenu ul li {
    margin: 0 15px;
}

.headermenu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: color 0.3s ease-in-out;
    font-family: "Diwan Thuluth";
}

.headermenu ul li a:hover {
    color: var(--accent-color);
}

/* 작은 화면에서의 스타일 */
@media (max-width: 768px) {
    .headermenu ul {
        flex-direction: column;
        align-items: center;
    }

    .headermenu ul li {
        margin-bottom: 10px;
    }
}

/* 반응형 디자인 설정 */
@media (max-width: 768px) {
    .header .headermenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header .headermenu ul li {
        margin-bottom: 10px;
    }
    .header .headermenu ul.dropdown {
        float: none;
    }
    .header .headermenu ul.dropdown ul {
        position: static;
    }
}

/*.header .logo {*/
/*    line-height: 1;*/
/*}*/

/*.header .logo img {*/
/*    max-height: 36px;*/
/*    margin-right: 8px;*/
/*}*/

/*.header .logo h1 {*/
/*    font-size: 30px;*/
/*    margin: 0;*/
/*    font-weight: 700;*/
/*    color: var(--heading-color);*/
/*    font-family: var(--default-font);*/
/*}*/

/*.header .logo span {*/
/*    color: var(--accent-color);*/
/*    font-size: 36px;*/
/*}*/

/*.header .btn-getstarted,*/
/*.header .btn-getstarted:focus {*/
/*    color: var(--contrast-color);*/
/*    background: var(--accent-color);*/
/*    font-size: 14px;*/
/*    padding: 8px 26px;*/
/*    margin: 0;*/
/*    border-radius: 50px;*/
/*    transition: 0.3s;*/
/*}*/

/*.header .btn-getstarted:hover,*/
/*.header .btn-getstarted:focus:hover {*/
/*    color: var(--contrast-color);*/
/*    background: color-mix(in srgb, var(--accent-color), transparent 15%);*/
/*}*/

/*@media (max-width: 1200px) {*/
/*    .header .logo {*/
/*        order: 1;*/
/*    }*/

/*    .header .btn-getstarted {*/
/*        order: 2;*/
/*        margin: 0 15px 0 0;*/
/*        padding: 6px 20px;*/
/*    }*/

/*    .header .headermenu {*/
/*        order: 3;*/
/*    }*/
/*}*/

/*.scrolled .header {*/
/*    box-shadow: 0px 0 18px color-mix(in srgb, var(--default-color), transparent 85%);*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Navigation Menu*/
/*--------------------------------------------------------------*!*/
/*!* Desktop Navigation *!*/
/*@media (min-width: 500px) {*/
    .headermenu {
        padding: 0;
    }

    .headermenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .headermenu li {
        position: relative;
    }

    .headermenu>ul>li {
        white-space: nowrap;
        padding: 15px 14px;
    }

    .headermenu>ul>li:last-child {
        padding-right: 0;
    }

    .headermenu a,
    .headermenu a:focus {
        color: var(--nav-color);
        font-size: 15px;
        padding: 0 2px;
        font-family: var(--nav-font);
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }
    .headermenu a:hover {
        text-decoration: underline;
        color: var(--accent-color);
    }

    .headermenu a i,
    .headermenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .headermenu>ul>li>a:before {
        content: "";
        position: absolute;
        height: 2px;
        bottom: -6px;
        left: 0;
        /*background-color: var(--nav-hover-color);*/
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .headermenu a:hover:before,
    .headermenu li:hover>a:before,
    .headermenu .active:before {
        visibility: visible;
        width: 100%;
    }

    .headermenu li:hover>a,
    .headermenu .active,
    .headermenu .active:focus {
        color: color-mix(in srgb, var(--nav-color) 80%, black 50%);
    }

    .headermenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 85%);
    }

    .headermenu .dropdown ul li {
        min-width: 200px;
    }

    .headermenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--nav-dropdown-color);
    }

    .headermenu .dropdown ul a i {
        font-size: 12px;
    }

    .headermenu .dropdown ul a:hover,
    .headermenu .dropdown ul .active:hover,
    .headermenu .dropdown ul li:hover>a {
        color: var(--nav-dropdown-hover-color);
    }

    .headermenu .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .headermenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .headermenu .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }


/*!* Mobile Navigation *!*/
/*@media (max-width: 1199px) {*/
/*    .mobile-nav-toggle {*/
/*        color: var(--nav-color);*/
/*        font-size: 28px;*/
/*        line-height: 0;*/
/*        margin-right: 10px;*/
/*        cursor: pointer;*/
/*        transition: color 0.3s;*/
/*    }*/

/*    .headermenu {*/
/*        padding: 0;*/
/*        z-index: 9997;*/
/*    }*/

/*    .headermenu ul {*/
/*        !* 기존 display: none을 display: flex로 변경 *!*/
/*        display: flex;*/
/*        flex-direction: column; !* 모바일에서 수직 정렬 *!*/
/*        position: absolute;*/
/*        inset: 60px 20px 20px 20px;*/
/*        padding: 10px 0;*/
/*        margin: 0;*/
/*        border-radius: 6px;*/
/*        background-color: var(--nav-dropdown-background-color);*/
/*        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);*/
/*        box-shadow: none;*/
/*        overflow-y: auto;*/
/*        transition: 0.3s;*/
/*        z-index: 9998;*/
/*    }*/

/*    .headermenu a,*/
/*    .headermenu a:focus {*/
/*        color: var(--nav-dropdown-color);*/
/*        padding: 10px 20px;*/
/*        font-family: var(--nav-font);*/
/*        font-size: 17px;*/
/*        font-weight: 500;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: space-between;*/
/*        white-space: nowrap;*/
/*        transition: 0.3s;*/
/*    }*/

/*    .headermenu a i,*/
/*    .headermenu a:focus i {*/
/*        font-size: 12px;*/
/*        line-height: 0;*/
/*        margin-left: 5px;*/
/*        width: 30px;*/
/*        height: 30px;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*        border-radius: 50%;*/
/*        transition: 0.3s;*/
/*        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);*/
/*    }*/

/*    .headermenu a i:hover,*/
/*    .headermenu a:focus i:hover {*/
/*        background-color: var(--accent-color);*/
/*        color: var(--contrast-color);*/
/*    }*/

/*    .headermenu a:hover,*/
/*    .headermenu .active,*/
/*    .headermenu .active:focus {*/
/*        color: var(--nav-dropdown-hover-color);*/
/*    }*/

/*    .headermenu .active i,*/
/*    .headermenu .active:focus i {*/
/*        background-color: var(--accent-color);*/
/*        color: var(--contrast-color);*/
/*        transform: rotate(180deg);*/
/*    }*/

/*    .headermenu .dropdown ul {*/
/*        position: static;*/
/*        display: none;*/
/*        z-index: 99;*/
/*        padding: 10px 0;*/
/*        margin: 10px 20px;*/
/*        background-color: var(--nav-dropdown-background-color);*/
/*        transition: all 0.5s ease-in-out;*/
/*    }*/

/*    .headermenu .dropdown ul ul {*/
/*        background-color: rgba(33, 37, 41, 0.1);*/
/*    }*/

/*    .headermenu .dropdown>.dropdown-active {*/
/*        display: block;*/
/*        background-color: rgba(33, 37, 41, 0.03);*/
/*    }*/
/*}*/