nav>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.hmenucontainer{
    background-color: #111827;
    height: 40px;
    color: #F3F4F6;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 10px;
}
