<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_main/layout1_hmenu}">
<head>
    <meta charset="UTF-8">
    <title>Devlog</title>
    <!--부트스트랩 아이콘-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css}" rel="stylesheet">
    <!--부트스트랩 css-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/myPage.css">
    <!--제이쿼리-->
    <script th:src="@{https://code.jquery.com/jquery-3.7.1.js}"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script th:src="@{/js/loginForm.js}" defer></script>

    <script th:src="@{/js/myPage.js}" defer></script>
</head>
<body>

<div layout:fragment="content">
    <div style="display: flex;/* 부모 요소를 Flexbox 컨테이너로 설정합니다. */
    justify-content: center; /* 가운데 정렬합니다. */
    align-items: center; /* 수직 중앙 정렬합니다. */
margin-bottom: -20px;height: 150px;padding-top: 210px"><h4 style="    display: flex; /* 부모 요소를 Flexbox 컨테이너로 설정합니다. */
    justify-content: center; /* 가운데 정렬합니다. */
    align-items: center; /* 수직 중앙 정렬합니다. */
    margin-left: 20px;
font-size: 40px;font-family: Symbol">My Page</h4>&nbsp;&nbsp;&nbsp;<img style="width: 150px;height: 150px" src="https://minio.bmops.kro.kr/devlog/logo/keyboard.gif"></div>
    <main class="container">
        <section class="totalSection" style="background-image:url(https://minio.bmops.kro.kr/devlog/logo/mypageback3.png);background-size: cover;margin-bottom: 0;padding-left: 70px;margin-top: 80px">
            <div class="blogpost_section" data-v0-t="card" style="border: 0.5px solid #d7dbdb">
                <div class="blogtitle_section">
                    <h3 class="blogposts">게시글 관리</h3>
                    <div style="width: 50px;display: flex;justify-content: space-between;margin-right: 20px" >
                    <button style="font-size: 20px" id="prev-btn" onclick="postPrevPage()"><i class="bi bi-arrow-left-circle-fill"></i></button>
                    <button style="font-size: 20px" id="next-btn" onclick="postNextPage()"><i class="bi bi-arrow-right-circle-fill"></i></button>
                    </div>
                </div>
                <!--게시글관리-->
                <div class="blogpost_inside" id="blogpost_inside">
                </div>
            </div>



            <div class="comments_container" data-v0-t="card" style="border: 0.5px solid #d7dbdb;margin-left: 20px;margin-right: -20px">
                <!--댓글관리헤더-->
                <div class="comments_title_container">
                    <h3 class="comments_title" style="margin-left: 20px">댓글 관리</h3>
                    <div style="width: 50px;display: flex;justify-content: space-between;margin-right: 20px">
                        <button style="font-size: 20px" id="comment-prev-btn" onclick="commentPrevPage()"><i class="bi bi-arrow-left-circle-fill"></i></button>
                        <button style="font-size: 20px" id="comment-next-btn" onclick="commentNextPage()"><i class="bi bi-arrow-right-circle-fill"></i></button>
                    </div>

                </div>

                <div class="comments_inside_container" id="comments_box">
                    <!--댓글관리-->

                </div>
            </div>

            <style>


            </style>

            <div class="visitor_container" data-v0-t="card" style="border: none; min-width: 250px">
                <div class="visitor_conunt_container" style="min-width: 250px;width: 250px;height: 150px;border: 0.5px solid #d7dbdb;border-radius: 5px">
                    <div class="visitor_title_container" style="display: flex">
                        <h3 class="visitor_count" style="margin-left: 20px">방문자 수</h3>
                        <h3 class="visitor_count" style="margin-left: 20px">Total</h3>
                        <button onclick='location.href="/account/update"'>내 정보 수정</button>
                        <div class="count_container">
                            <div class="count_frame" id="visit_box">
                            </div>
                        </div>
                    </div>

                </div>
                <style>
                    .category-container {
                        margin-top: 20px;
                    }
                    .input-title-text-box {
                        width: 50%;
                        display: inline-block;
                    }
                    .add-category-btn {
                        display: inline-block;
                        vertical-align: top;
                        background-color: #d3d3d3;
                        border-color: #d3d3d3;
                        color: black;
                    }
                    .input-title-text-box{
                        width: 100px;
                    }
                    .add-category-btn{
                        margin-left: 7px;
                    }
                </style>

                <div class="category-container" style="min-width: 250px;width: 250px;height: 350px;border: 0.5px solid lightgrey;margin-top: 100px;padding-left: 20px;padding-right: 20px;border-radius: 5px">
                    <!--카테고리추가-->
                    <h3 class="visitor_count">카테고리 관리</h3>
                    <form id="category-form" style="display: flex;">
                        <div class="form-group"  id="category-add-button" style = "display: flex; justify-content: center">
                            <input type="text" class="form-control input-title-text-box category-input" placeholder="Enter a category">
                            <button type="button" onclick="addCategory(this)" class="btn add-category-btn">카테고리 추가</button>
                        </div>
                        <div id="category-bound-notification" style="display: block">
                            <p style="color: blue;text-decoration: underline">카테고리는 5개까지만<br> 설정 가능합니다.</p>
                        </div>
                    </form>


                    <!--카테고리이름-->
                    <div id="category-container">
                        <div class="category-name"
                             id = "category-name-container"
                             style="display: flex; justify-content: space-between;">
                        </div>

                    </div>



                </div>
            </div>



        </section>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
<!--부트스트랩-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!--태일윈즈-->
<script th:src="@{https://cdn.tailwindcss.com}"></script>
</html>